<div class="container col-12" style="padding: 50px;">
    <div class="img-profile text-center col-12">
        <img class="imgRedonda" src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image" />
        <img class="imgRedonda" src="assets/default-picture.png" *ngIf="!user.image" />
    </div>
    <div class="col-12 text-center" style="padding-top: 20px;">
        <h1>{{user.name + ' ' + user.surname}}</h1>
    </div>
    <div class="col-12 text-center">
        <h5>{{user.nick}}</h5>
    </div>
    <div class="col-12 text-center">
        <div class="row" style="justify-content: center;">
            <div class="col-1 follows">
                <span>{{stats.followed}} Follows</span>
            </div>
            <div class="col-1 followeds">
                <span>{{stats.following}} Followeds</span>
            </div>
        </div>
    </div>
    <hr>
    <h1>Posts</h1>
</div>